<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :'お名前' %>
    <%= form.text_field :current_user.name %>
  </div>

  <div class="field">
    <%= form.label :'メールアドレス' %>
    <%= form.text_field :current_user.email %>
  </div>

  <div class="field">
    <%= form.label :'店名' %>
    <%= form.text_field :current_user.occupation %>
  </div>

  <div class="field">
    <%= form.label :'メーカー名' %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :'商品名' %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :'メッセージ' %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
