<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  </head>

<%= render "shared/second-header" %>

<%= form_with model: @contact, class: 'registration-main', local: true do |f| %>
  <div class='form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>
        サンプル依頼
      </h1>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">お名前</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :contact_user_name, class:"input-default", id:"user_name", placeholder: "(例)山田勉" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">メールアドレス</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.email_field :contact_user_email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
    </div>
    
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">所属</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :contact_user_occupation, class:"input-default", id: "user_occupation", placeholder:"店名・会社名等" %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">メーカー名</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :contact_manufacturer, class:"input-default", id:"contact_mamufacture", placeholder:"味の素・ニチレイ等" %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">商品名</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :contact_item_name, class:"input-default", id:"contact_item_name", placeholder:"〇〇コロッケ等" %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">特記事項</label>
      </div>
      <%= f.text_area :message, class:"input-default", id:"contact_message", placeholder:"補足があればご記入ください" %>
    </div>

    <div class="form-group">
      <h2 class='form-bottom-text'>
      
      </h2>
    </div>
    <div class='register-btn'>
      <%= f.submit "サンプル依頼" ,class:"register-red-btn" %>
    </div>
  </div>
<% end %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

    <%= render "shared/footer" %>
</main>
