<h1>サンプル依頼が届きました。</h1>

<h2>お名前: <%= @contact.contact_user_name %></h2>
<h3>メール:<%= @contact.contact_user_email %></h3>
<h3>店名:<%= @contact.contact_user_occupation %></h3>
<h3>メーカー:<%= @contact.contact_manufacturer %></h3>
<h3>商品名:<%= @contact.contact_item_name %></h3>
<h3>メッセージ:<%= @contact.message %></h3>
