<%= form_with model: @item, local: true do |f|%>
  <div class="field">
    <%= f.label :manufacturer, "メーカー名", class: :form_name %><br />
    <%= f.text_field :manufacturer, class: :form_text, id:"item_manufacturer" %>
  </div>

  <div class="field">
    <%= f.label :item_name, "商品名", class: :form_name %><br />
    <%= f.text_area :item_name, class: :form_text, id:"new_item_name" %>
  </div>

  <div class="field">
    <%= f.label :standard, "規格", class: :form_name %><br />
    <%= f.text_area :standard, class: :form_text, id:"item_standard" %>
  </div>

  <div class="field">
    <%= f.label :storage_condition, "保存方法", class: :form_name %><br />
    <%= f.text_area :storage_condition, class: :form_text, id:"item_storage_condition" %>
  </div>

  <div class="field">
    <%= f.label :description, "商品説明", class: :form_name %><br />
    <%= f.text_area :description, class: :form__text, id:"item_description" %>
  </div>

  <div class="parallel">
    <div class="field">
      <%= f.label :images, "新商品の画像", class: :form_name %><br />
      <%= f.file_field :images, name: 'item[images][]', id:"item_image", class: :form_name %>
    </div>

    <div class="actions">
      <%= f.submit "保存する", class: :send, class: :form_name  %>
    </div>
    <div id="image-list" ></div>
  </div>
<% end %>

<% @item.images.each do |image| %>
  <%= image_tag image, class: 'images' %>
<% end %>