<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

<%= render "shared/second-header" %>

<main class="item-main">
  <div class="item-inner">
    <div class="item__wrapper">
      <p class="item__hedding">
        <%= @item.item_name %>
      </p>
      <% if user_signed_in? && current_user.id == @item.user_id %>
        <div class="item__manage">
          <%= link_to "編集する", edit_item_path(@item.id),method: :get,  class: :prototype__btn %>
          <%= link_to "削除する", item_path(@item.id),method: :delete, class: :prototype__btn %>
        </div>
      <% end %>
      <div class="item__image">
        <% @item.images.each do |image| %>
          <%= image_tag image, class:'image' %>
        <% end %>
        <%= link_to 'サンプル依頼する', new_contact_path, method: :get, class: "btn btn-outline-danger" %>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">メーカー名</th>
            <th scope="col">商品名  </th>
            <th scope="col">商品規格  </th>
            <th scope="col">温度帯  </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><%= @item.manufacturer %></th>
            <td><%= @item.item_name %></td>
            <td><%= @item.standard %></td>
            <td><%= @item.storage_condition %></td>
          </tr>
        </tbody>
      </table>
      <div class="item-description">
        <div class="item-discription-name">
          <%= '《商品説明》' %>
          <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">
            <%= @item.description %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <%= render "shared/footer" %>
</main>